@font-face {
    font-family: 'MontserratUltraLight';
    src: url('../fonts/MontserratUltraLight.eot');
    src: url('../fonts/MontserratUltraLight.eot') format('embedded-opentype'),
    url('../fonts/MontserratUltraLight.woff2') format('woff2'),
    url('../fonts/MontserratUltraLight.woff') format('woff'),
    url('../fonts/MontserratUltraLight.ttf') format('truetype'),
    url('../fonts/MontserratUltraLight.svg#MontserratUltraLight') format('svg');
}

body {
    font-family: "MontserratUltraLight";
    color: white;
    font-size: 2vh;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}

article a {
    color: black;
    text-decoration: none;
}

article a:hover {
    color: #5CB8E5;
}

p {
    overflow: hidden;
}

p:hover {
    /*color: black;*/
}

pre {
    background: #f5f2f0;
    padding: 2vh;
    border-radius: 1vh;
}

.article-tag{
    margin: 0 4px;
    display: inline-block;
    /*border: #fff solid 1px;
    border-radius: 8%;*/
}

.article-tag:hover{
    /*animation: jello 1s;*/
    /*color: #afb5ac;*/
    color: #c5a75b;
}

.point{
    cursor: pointer;
}

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff2") format("woff2"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 2vh;
    font-style: normal;
}

.flaticon-menu:before { content: "\f100"; }
.flaticon-github-logo:before { content: "\f101"; }
.flaticon-pinterest-logo:before { content: "\f102"; }
.flaticon-facebook-logo:before { content: "\f103"; }
.flaticon-twitter-logo-silhouette:before { content: "\f104"; }
.flaticon-tumblr-letter-logo:before { content: "\f105"; }
.flaticon-previous:before { content: "\f106"; }
.flaticon-download:before { content: "\f107"; }
.flaticon-close:before { content: "\f108"; }